<h1><% binding.pry %></h1>


<form action="/sections" method="POST">
	<input type="text" name="name" placeholder="Class Name">
	<input type="text" name="students" placeholder="Student Name">
	<input type="text" name="students" placeholder="Student Name">
	<input type="submit" value="Create Section">
</form>
