<!DOCTYPE html>
  
<h1>Welcome Screen With Log-In Options</h1>
<h1>Index Page</h1>

Welcome to Sinatra Security. Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.

</html>
