<h1>This is Section <%= params[:id] %></h1>

<h2>Students:</h2>

<% @all = Student.all %>
<% array_of_students = [] %>
<% @all.each do |student| %>
    <% if student[:section] == params[:id].to_i %>
        <% array_of_students << student %>
    <% end %>
<% end %>

<% array_of_students.each do |student| %>    
    <ul> <%= student[:name] %> - <%= student[:score] %>     <button>Delete</button></ul>
<% end %>


<%# This form isn't adding people to sections properly %>

<form action="/user" method="POST">
	<input id="name" type="text" name="name" placeholder="Student Name">
	<input id="section" type="integer" name="section" placeholder=<%=params[:id].to_i%>>
	<input id="score" type="integer" name="score" placeholder="Student Score">
	<input type="submit" value="Add Student">
</form>