
<h2>Your Sections:</h2>

<% sorted_sections = @user.sections.sort_by {|sec| sec.period_number.to_i } %>

<% sorted_sections.each do |section| %>
		<a href="/sections/<%=section.id%>">Section <%=section.period_number.to_i%></a>
		<form action="/sections/<%=section.id%>" method="POST">
			<input name="_method" type="hidden" value="delete">
			<input type="submit" value="Remove Section">
		</form>
		<br>
<% end %>

<form action="/sections" method="POST">
	<input id="period_number" type="integer" name="period_number" placeholder="Enter a number">
	<input type="submit" value="Add a Section">
</form>