
<h2>Your Sections:</h2>

<% array_of_sections = Section.where(:user_id => session[:user_id]) %>
<% array_of_sections = array_of_sections.sort_by {|obj| obj.period_number } %>

<% array_of_sections.each do |section| %>
		<% @sectionid = section.id %>
		<form action="/sections/<%=section[:period_number]%>" method="POST">
			<input id="section" type="hidden" name="section" value="<%=section[:period_number]%>">
			<input type="submit" value="Section: <%=section[:period_number]%>">
		</form><span>
		<form action="/delete_sections" method="POST">
			<input id="section" name="section" type="hidden" value="<%=@sectionid%>">
			<input type="submit" value="Remove Section">
		</form>
		<br>
<% end %>

<form action="/sections" method="POST">
	<input id="period_number" type="integer" name="period_number" placeholder="Enter a number">
	<input type="submit" value="Add a Section">
</form>