
<h1>Create a username and password for your classroom account!</h1>

<h3>Sign Up</h3>
<form action="/signup" method="POST">
	<input id="username" type="text" name="username" placeholder="username">
	<input id="password" type="password" name="password" placeholder="password">
	<input type="submit" value="Sign Up">
</form>