<h1>This is the home page displayed to users who logged in successfully</h1>
<h2>This home page will show All of the users secitions</h2>
<h2>This page will also have a button to create new sections</h2>